#content-obfuscator {
	display: none;
}

#content-obfuscator .obfuscator-overlay {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1000000;
	background-color: rgba(28, 7, 25, 0.4);
}

#content-obfuscator .obfuscator-text-container {
	z-index: 2000000;
	background-color: transparent;
	width: 100%;
	max-width: 500px;
	height: 500px;
	background: url('../images/splatter.png') transparent center no-repeat;
	position: fixed;
	top: 50%;
  left: 50%;
  margin-right: -50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}


#content-obfuscator .obfuscator-text {
	position: relative;
	color: black;
	margin: 0 auto;
	top: 200px;
	text-align: center;
	max-width: 200px;
}

.content-obfuscator-removed {
	padding: 30px;
	background-color: white;
}